.App {
  text-align: center;
}

li {
  margin-right: 1rem;
}

.first-nav {
  width: 77%;
}

.activee {
  color: white !important;
  background-color: #7bae40;
  border-radius: 10px;
}

.nav-title {
  font-size: 1.7rem;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.nav-title-2 {
  display: none;
  font-size: 1.7rem;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.nav-bottom {
  display: none !important;
  margin-left: 3rem;
}

.icons a {
  color: #000;
  font-size: 0.8rem;
  margin: 1rem;
}

.icons a:hover {
  color: #7bae40;
  transition: all 0.3s ease-in-out;
}

.navbar-input {
  height: 3rem;
  border-radius: 20px;
  border: none;
  border-bottom: 1px solid silver;
  font-size: 1rem;
  width: 13rem;
  margin-right: 0.5rem;
}

.navbar-button {
  border: none;
  border-radius: 45%;
  font-size: 1.1rem;
  padding: 0.7rem;
  width: 3.5rem;
  background-color: #000;
}

.navbar-button:hover {
  background-color: #7bae40;
  transition: all 0.4s ease;
}

.navbar-button i {
  color: #fff;
  font-size: 0.9rem;
}

.nav-title:hover,
.nav-title-2:hover {
  color: #7bae40;
  transition: all 0.3s ease-in-out;
}

.offcanvas {
  width: 320px !important;
}

.nav-2 {
  border-bottom: 1px solid rgba(192, 192, 192, 0.318);
  padding: 15px 15px;
  position: sticky !important;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.nav2-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76.5%;
}

.nav-2 .nav-link {
  font-size: 0.84rem;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.close-button {
  color: #000;
  font-size: 1.7rem;
  border: none;
  background-color: #fff;
}

.close-button:hover {
  color: #7bae40 !important;
}

.slider-content {
  width: 1200px;
  margin: 4rem auto 7rem auto;
}

.slider-span {
  background-color: #0000004a;
  padding: 1rem;
  border-radius: 5px;
}

.slider-span:hover {
  background-color: #7bae40;
}

.carousel-item {
  background-color: #f8f9fa;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.slider-right {
  padding: 5rem;
  background: #f8f9fa;
}

.slider-right span {
  color: #848383;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.slider-right p {
  font-size: 0.9rem;
}

.slider-right h5 {
  padding-top: 1rem;
  color: #000;
  font-size: 1.1rem;
}

.slider-right a {
  color: #000;
  font-size: 1.1rem;
  text-decoration: underline;
}

.slider-right a:hover {
  color: #7bae40;
  transition: all 0.4s;
}

.col-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.fetch-data-row {
  width: 1200px;
  margin: auto;
}

.fetch-data-col {
  padding: 2rem;
  background-color: #f8f9fa;
}

.data-title > a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 0 0 0;
}

.data-title a:hover {
  color: #7bae40;
  transition: all 0.3s ease-in-out;
}

.view-more {
  bottom: 0;
  color: #000;
  padding: 1rem;
}

.view-more:hover {
  color: #7bae40;
}

.page-link {
  color: #000;
}

.page-link:hover,
.page-link:focus {
  background-color: #7bae40;
  color: #fff;
}

.pagination-active {
  background-color: #7bae40;
  color: #fff;
}

.pagination-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-page {
  width: 80%;
  margin: auto;
}

.business-cards {
  margin-top: 2.2rem !important;
}

.business-card {
  background-color: #aaaaaa10;
  padding: 1rem;
  border-radius: 10px;
}

.img-fluid {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.span-div {
  margin-left: 4rem;
}

.span-1 {
  font-size: 2rem;
  margin-right: 2rem;
  margin-top: -0.5rem;
  color: #aaaaaace;
}

.span-2 {
  font-size: 0.8rem;
}

.popular-posts {
  margin: 1rem auto;
  background-color: #aaaaaa10;
  padding: 1rem;
  border-radius: 10px;
  width: 400px;
}

.popular-post-p {
  text-decoration: underline;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
}

.popular-post-a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navbar-toggler {
  border: none !important;
}

.footer-top {
  margin-bottom: 3rem;
  margin: auto;
}

.footer-top-content {
  margin-top: 3rem;
  width: 50%;
}

.footer-top-form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}

.footer-bottom a {
  color: #7bae40;
  text-decoration: none;
  margin-left: 0.5rem;
}

@media (max-width: 1200px) {
  .slider-content {
    width: 100%;
  }

  .col-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .span-1 {
    font-size: 1.6rem;
    margin-right: 2rem;
    margin-top: -0.5rem;
    color: #aaaaaace;
  }

  .span-2 {
    font-size: 0.8rem;
  }

  .popular-posts {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
  }

  .business-cards {
    width: 100%;
    margin-top: 1rem !important;
  }

  .fetch-data-row {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .first-nav {
    display: none;
  }

  .nav-2 {
    border-bottom: none;
  }

  .nav2-div {
    width: 100%;
  }

  .nav-bottom {
    display: block !important;
    margin-bottom: 5rem;
    margin-left: 7rem;
  }

  .nav-title-2 {
    font-size: 1.3rem;
    display: block;
  }

  .popular-posts {
    width: 100%;
    margin: 0;
  }

  .navbar-nav {
    margin-top: -2rem;
    display: flex;
    margin-left: 1.5rem;
    font-weight: bold;
    justify-content: center;
  }

  .nav-link {
    font-size: 1.1rem !important;
    margin-bottom: 0.5rem;
    text-transform: capitalize !important;
  }

  .nav-link:hover {
    color: #7bae40 !important;
  }

  .navbar-input {
    height: 2.5rem;
    font-size: 0.9rem;
    width: 11rem;
  }

  .navbar-button {
    font-size: 1rem;
    padding: 0.5rem;
    width: 3rem;
    background-color: #000;
  }

  .activee {
    color: black !important;
    background-color: #fff;
    border-radius: 10px;
  }

  .slider-content {
    margin: 1rem auto;
  }

  .carousel-item img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .slider-right {
    width: 90%;
    padding: 2rem;
    margin: 2rem;
    height: 250px;
  }

  .slider-right h5 {
    font-size: 1.1rem;
  }

  .slider-right p {
    font-size: 0.8rem;
  }

  .slider-right a {
    font-size: 0.8rem;
  }

  .col-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .popular-posts {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 0.7rem;
  }

  .nav-bottom {
    margin-left: 2rem;
  }

  .slider-content {
    margin: 1rem auto;
  }

  .carousel-item img {
    height: 300px;
  }

  .carousel-caption {
    padding: 0;
  }

  .slider-header {
    font-size: 1.1rem;
  }

  .carousel-indicators > button {
    color: #7bae40;
  }

  .col-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  .business-page {
    width: 85%;
    margin: auto;
  }

  .business-cards {
    width: 100%;
    margin-top: 1rem !important;
  }

  .business-card > div > a {
    border-bottom: 1px solid silver;
  }

  .footer-top-content {
    margin-top: 3rem;
    width: 100%;
  }

  .footer-top-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
  }
}

@media (max-width: 576px) {
  .slider-content {
    margin: 1rem auto 3rem auto;
  }

  .slider-right {
    margin: 1.4rem auto;
  }

  .slider-right a {
    font-size: 0.6rem;
  }
  .nav-bottom {
    margin-left: 2rem;
  }

  .carousel-item img {
    width: 100%;
    height: 250px;
  }

  .fetch-data-col {
    width: 100%;
    padding: 2rem;
  }

  .col-img {
    height: 200px;
  }
}

@media (max-width: 380px) {
  .nav-link {
    font-size: 0.7rem;
  }

  .nav-bottom {
    margin-left: 1rem;
  }

  .slider-right h5 {
    font-size: 0.9rem;
    padding: 0;
  }

  .slider-right span {
    font-size: 0.8rem;
  }

  .slider-right p {
    font-size: 0.7rem;
  }

  .carousel-item img {
    height: 180px;
  }

  .col-img {
    object-fit: cover;
  }

  .data-title > p {
    display: none;
  }

  .business-card p {
    display: none;
  }

  .offcanvas {
    width: 240px !important;
  }

  .footer-top-content {
    margin-top: 2rem;
  }

  .footer-top-content h5 {
    font-size: 1rem;
  }

  .footer-top-content p {
    font-size: 0.8rem;
  }

  .footer-top-form {
    min-height: 100px;
  }

  .footer-top-form input {
    height: 2.2rem;
  }

  .footer-top-form button {
    padding: 0.4rem;
    width: 2.2rem;
  }

  .footer-bottom span {
    font-size: 0.8rem;
  }
}
