.App {
  text-align: center;
}

li {
  margin-right: 1rem;
}

/* .first-nav {
  position: sticky;
  height: 50px;
} */

.nav-2 {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 1px solid silver;
}

.nav-2 .nav-link {
  font-size: 1.3rem;
}

.nav-link:hover {
  color: orangered !important;
}

.slider-content {
  width: 1200px;
  margin: 1rem auto 7rem auto;
  height: 70vh;
}

.carousel-item img {
  width: 100%;
  height: 550px;
  background-size: cover;
}

.carousel-caption {
  background-color: rgba(255, 68, 0, 0.712);
  margin: 0 auto;
  padding: 0 2rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider-header {
  color: white;
  text-align: center;
  margin: 4rem auto;
  font-size: 1.5rem;
}

.carousel-indicators > button {
  color: orangered;
}

.col-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.fetch-data-row {
  margin: auto;
}

.fetch-data-col {
  width: 400px;
  box-shadow: 2px 2px 10px silver;
  padding: 2rem;
}

.activee {
  background-color: orangered;
  color: #fff;
}

.pagination-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .nav-link {
    font-size: 1rem !important;
  }

  .slider-content {
    width: 900px;
    margin: 1rem auto 3rem auto;
    height: 60vh;
  }

  .carousel-item img {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;
  }

  .carousel-caption {
    padding: 0 1rem;
  }

  .slider-header {
    font-size: 1.3rem;
  }

  .carousel-indicators > button {
    color: orangered;
  }

  .col-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

@media (max-width: 992px) {
  .first-nav {
    display: none;
  }

  .navbar-nav {
    display: flex;
    margin-top: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    font-size: 1rem !important;
  }

  .slider-content {
    width: 800px;
    margin: 1rem auto 3rem auto;
    height: 50vh;
  }

  .carousel-item img {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  .carousel-caption {
    padding: 0 1.4rem;
  }

  .slider-header {
    font-size: 1.2rem;
  }

  .carousel-indicators > button {
    color: orangered;
  }

  .col-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .fetch-data-col {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .first-nav {
    display: none;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .slider-content {
    width: 720px;
    margin: 1rem auto 3rem auto;
    height: 40vh;
  }

  .carousel-item img {
    width: 100%;
    height: 350px;
  }

  .carousel-caption {
    padding: 0;
  }

  .slider-header {
    font-size: 1.1rem;
  }

  .carousel-indicators > button {
    color: orangered;
  }

  .fetch-data-col {
    width: 650px;
  }

  .col-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .slider-content {
    width: 550px;
    margin: 1rem auto 3rem auto;
    height: 40vh;
  }

  .carousel-item img {
    width: 100%;
    height: 350px;
  }

  .carousel-caption {
    padding: 0;
  }

  .slider-header {
    font-size: 0.8rem;
    margin: 2rem auto;
  }

  .carousel-indicators > button {
    color: orangered;
  }

  .fetch-data-col {
    width: 340px;
  }

  .col-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

@media (max-width: 360px) {
  .nav-link {
    font-size: 0.7rem;
  }

  .slider-content {
    width: 320px;
    margin: 1rem auto 3rem auto;
    height: 40vh;
  }

  .carousel-item img {
    width: 100%;
    height: 230px;
  }

  .slider-header {
    font-size: 0.8rem;
    margin: 2rem auto;
  }

  .fetch-data-col {
    width: 310px;
  }

  .col-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
