.App {
  text-align: center;
}

li {
  margin-right: 1rem;
}

.first-nav {
  width: 92%;
}

.nav-title {
  font-size: 1.7rem;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.first-nav a:hover {
  color: #7bae40;
  transition: all 0.3s ease-in-out;
}

.nav-2 {
  border-bottom: 1px solid rgba(192, 192, 192, 0.318);
  padding: 30px 0 0 0;
  width: 90%;
}

.nav-2 .nav-link {
  font-size: 0.84rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #7bae40 !important;
}

.slider-content {
  width: 1200px;
  margin: 4rem auto 7rem auto;
}

.slider-span {
  background-color: #0000004a;
  padding: 1.3rem;
  border-radius: 5px;
}

.slider-span:hover {
  background-color: #7bae40;
}

.slider-right {
  background: #f8f9fa;
}

.carousel-item {
  background-color: #f8f9fa;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.slider-right {
  margin: 5rem auto;
}

.slider-right span {
  color: #848383;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.slider-right h5 {
  padding: 1rem;
  color: #000;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.slider-right a {
  color: #000;
  font-size: 1.2rem;
  text-decoration: underline;
}

.slider-right a:hover {
  color: #7bae40;
  transition: all 0.4s;
}

.carousel-indicators > button {
  color: #7bae40;
}

.col-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.fetch-data-row {
  width: 80%;
  margin: auto;
}

.fetch-data-col {
  width: 400px;
  box-shadow: 2px 2px 10px silver;
  padding: 2rem;
}

.data-title > a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 0 0 0;
}

.data-title a:hover {
  color: #7bae40;
  transition: all 0.3s ease-in-out;
}

.view-more {
  bottom: 0;
  color: #000;
  padding: 1rem;
}

.view-more:hover {
  color: #7bae40;
}

.pagination-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-page {
  width: 80%;
  margin: auto;
}

.business-cards {
  margin-top: 2.2rem !important;
}

.business-card {
  background-color: #aaaaaa10;
  padding: 1rem;
  border-radius: 10px;
}

.img-fluid {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.span-div {
  margin-left: 4rem;
}

.span-1 {
  font-size: 2rem;
  margin-right: 2rem;
  margin-top: -0.5rem;
  color: #aaaaaace;
}

.span-2 {
  font-size: 0.8rem;
}

.popular-posts {
  margin: 1rem auto;
  background-color: #aaaaaa10;
  padding: 1rem;
  border-radius: 10px;
  width: 400px;
}

.popular-post-p {
  text-decoration: underline;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
}

.popular-post-a {
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .slider-content {
    width: 100%;
  }

  .carousel-item img {
    height: 350px;
  }

  .col-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .span-1 {
    font-size: 1.6rem;
    margin-right: 2rem;
    margin-top: -0.5rem;
    color: #aaaaaace;
  }

  .span-2 {
    font-size: 0.8rem;
  }

  .popular-posts {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
  }

  .business-cards {
    width: 100%;
    margin-top: 1rem !important;
  }
}

@media (max-width: 992px) {
  .first-nav {
    display: none;
  }

  .nav-2 {
    border-bottom: none;
  }

  .popular-posts {
    width: 100%;
    margin: 0;
  }

  .navbar-nav {
    display: flex;
    margin-top: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
  }

  .nav-link {
    font-size: 1rem !important;
  }

  .slider-content {
    margin: 1rem auto;
  }

  .carousel-item img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .slider-right {
    margin: 1rem auto;
    height: 150px;
  }

  .slider-right h5 {
    font-size: 1.1rem;
    padding: 0.5rem;
  }

  .slider-right p {
    font-size: 0.8rem;
  }

  .slider-right a {
    font-size: 0.8rem;
  }

  .carousel-indicators > button {
    color: #7bae40;
  }

  .col-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .popular-posts {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 0.7rem;
  }

  .slider-content {
    margin: 1rem auto;
  }

  .carousel-item img {
    height: 300px;
  }

  .carousel-caption {
    padding: 0;
  }

  .slider-header {
    font-size: 1.1rem;
  }

  .carousel-indicators > button {
    color: #7bae40;
  }

  .col-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  .business-page {
    width: 85%;
    margin: auto;
  }

  .business-cards {
    width: 100%;
    margin-top: 1rem !important;
  }

  .business-card > div > a {
    border-bottom: 1px solid silver;
  }
}

@media (max-width: 576px) {
  .slider-content {
    margin: 1rem auto 3rem auto;
  }

  .slider-right {
    margin: 1.4rem auto;
  }

  .carousel-item img {
    width: 100%;
    height: 250px;
  }

  .fetch-data-col {
    width: 100%;
    box-shadow: 2px 2px 10px silver;
    padding: 2rem;
  }

  .col-img {
    height: 200px;
  }
}

@media (max-width: 380px) {
  .nav-link {
    font-size: 0.7rem;
  }

  .slider-right h5 {
    font-size: 1rem;
  }

  .slider-right span {
    font-size: 0.8rem;
  }

  .slider-right p {
    font-size: 0.7rem;
  }

  .carousel-item img {
    height: 180px;
  }

  .col-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
}
